<% provide :title, @user.short_name %>

<div class="col-<%= default_grid_system %>-9">
  <div class="panel panel-default">
  	<div class="panel-body">
      <div class="row">
  			<div class="col-<%= default_grid_system %>-12 lead">
  				<%= t ".title" %>
  			</div>

    		<hr>

  			<div class="<%= default_col_class %>">
  				<h2><%= @user.full_name %></h2>
  			</div>


  			<div class="<%= default_left_col_class %>">
  				<p class="text-muted"><%= User.human_attribute_name "email" %></p>
  			</div>
  			<div class="<%= default_right_col_class %>">
  				<p><%= @user.email %></p>
  			</div>

  			<div class="<%= default_left_col_class %>">
  				<p class="text-muted"><%= User.human_attribute_name "birth_date" %></p>
  			</div>
  			<div class="<%= default_right_col_class %>">
  				<p><%= l @user.birth_date, format: :long %></p>
  			</div>

  			<div class="<%= default_left_col_class %>">
  				<p class="text-muted"><%= User.human_attribute_name "gender" %></p>
  			</div>
  			<div class="<%= default_right_col_class %>">
  				<p><%= User.human_attribute_name "gender.#{@user.gender}" %></p>
  			</div>
        <hr>
  			<div class="<%= default_col_class %>">
  				<%= link_to icon("pencil", t(".edit_button")), edit_user_path, { class: "btn btn-default", role: "button" } %>
  			</div>
      </div>
  	</div>
  </div>
</div>