<div class="col-<%= default_grid_system %>-3 sidebar">
	<div class="panel panel-default">
		<div class="panel-heading"><%= t(".title") %></div>
		<div class="panel-body">
			<div class="sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#" class="active"><i class="fa fa-user fa-fw"></i>&nbsp;&nbsp;<%= t(".profile") %></a></li>
					<li><a href="#"><i class="fa fa-university fa-fw"></i>&nbsp;&nbsp;<%= t(".bank") %></a></li>
					<li><a href="#"><i class="fa fa-users fa-fw"></i>&nbsp;&nbsp;<%= t(".users") %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>