<div class="col-<%= default_grid_system %>-3 sidebar">
	<div class="panel panel-default">
		<div class="panel-heading"><%= t(".titel") %></div>
		<div class="panel-body">
			<div class="sidebar">
				<ul class="nav nav-sidebar">
					<li><a href="#" class="active"><%= t(".profile") %></a></li>
					<li><a href="#"><%= t(".bank") %></a></li>
					<li><a href="#"><%= t(".users") %></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>