<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/base_header' %>
		<div class="container">
			<div class="row">
				<%= render 'layouts/sidebar' %>
				<%= render 'layouts/flash' %>
				<div class="col-<%= default_grid_system %>-9">
					<%= yield %>
				</div>
			</div>
			<%= render 'layouts/debug' %>
		</div>
	</body>
</html>